abbr[title] {
    text-decoration:    none;
}
img {
    display:       inline-block;
    max-width:     100%;
    max-height:    100%;
}


.label {
	margin-right:    0.5em;
}
.label a {
    color:              white;
	text-decoration:    none;
}
.media-left, .media-right {
    width:    10%;
}
.invalid {
    border-color:    red;
}


body {
    padding-top:    3.5em;
}
body > nav .navbar-brand {
    color:    white  !important;
}
#PageBox > .jumbotron > .container {
    padding:    1em;
}
body > footer {
    margin-top:    3.5em;
    padding:       2em;
    text-align:    center;
    background:    rgb(34, 34, 34);
    color:         lightgray;
}
